*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  max-width: 80%;
  margin: 0px auto;
}
.row{
  max-width: 80%;
  margin: 40px auto 150px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 35px;
}
.info{
  margin-top: 10px;
}
@media only screen and (max-width: 1200px){
  .row{
    grid-template-columns: repeat(6, 1fr);
  }
  .info{
    font-size: 15px;
  }
}
@media only screen and (max-width: 950px){
  .row,.container{
    max-width: 88%;
  }
  .row{
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 700px){
  .row{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 500px){
  .row{
    grid-template-columns: repeat(3, 1fr);
  }
  .container{
    max-width: 94%;
  }
}
@media only screen and (max-width: 420px){
  .row{
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}